.heroSection {
  margin: 0 auto;
  height: 100vh;
  background-image: url(/img/picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.mainText {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.7;
  color: var(--inputs);
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--inputs);
  padding-bottom: 40px;
}
.btn {
  border-radius: 200px;
  padding: 16px 60px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  cursor: pointer;
  max-width: 173px;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover);
}
