.featuresContainer {
  border-radius: 10px;
  padding: 44px 80px;
  width: 631px;
  height: 588px;
  background: var(--inputs);
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.featuresElementsCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
}
.featuresElements {
  border-radius: 100px;
  padding: 12px 18px;
  width: auto;
  background: var(--badges);
  mix-blend-mode: multiply;
}
.featuresIcons {
  fill: var(--main);
}
.featuresLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.featuresDetails {
  width: 100%;
}
.featuresTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.line {
  width: 100%;
  height: 1px;
  background: var(--gray-light);
  margin: 24px 0;
}
.detailsElements {
  width: 100%;
}
.vehicleDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.vehicleText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
