.elementInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}
.elementName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}
.elementRating {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.star {
  fill: var(--rating);
  border: 1.2px solid var(--rating);
  width: 15px;
  height: 15px;
}
.elementText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.elementIcon {
  width: 15px;
  height: 15px;
  fill: var(--main);
}

.elementMap {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.elementPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.image {
  border-radius: 10px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-top: 28px;
  margin-bottom: 60px;
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: start;
}
.activeTab {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
border-bottom: 5px solid var(--button);
  transform: scale(1.1);
background: none;
    border: none;
    cursor: pointer;
}
.notActiveTab {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
background: none;
    border: none;
    cursor: pointer;
}
.line {
width: 100%;
    height: 1px;
    background: var(--gray-light);
    margin: 44px 0;
}
.tabsContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
